body {
    background: #303030;
    color: #d0d0d0
}

#area {
    width:430px;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial Black;
    padding: 5px;
    text-align: center;
    border: 2px dashed #26168a;
}

#submitbutton {
    width:140px;
    font-size:20px;
    font-weight:bold;
    font-style:normal;
    margin-left:40px;
    margin-top:5px;
    color:#202020;
    border:1px solid #26168a;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:linear-gradient(#1975ff, #003d99);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    text-shadow:1px 1px 0px #cabbef;
    height:50px;
    background-color:#1975ff;

}