body {
    background: #303030;
    color: #d0d0d0
}

#area {
    width:640px;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial Black;
    padding: 5px;
    text-align: center;
}

